<template>
  <Titulo :texto="textDync"/>
    <form @submit.prevent="procesarFormulario">
        <Inputs :permiso="permiso" :tipoPermisos="tipoPermisos" />
    </form>

</template>

<script>

import { useRoute } from 'vue-router';
import { computed, onMounted, ref } from 'vue'
import { useStore } from 'vuex'
import Titulo from '../components/Titulo'
import Inputs from '../components/Inputs'

export default {
  components: {
      Titulo,
      Inputs,
  },
  setup() {

    const store = useStore();
    const nombreParams = useRoute();
    const id = nombreParams.params.id;

    const permiso = computed(() => {
        return store.state.permiso
    })

    const tipoPermisos = computed(() => {
        return store.state.tipoPermisos
    })

     const textDync = computed(() => {
       console.log('permiso.id', id);
        return (id > 0  ? 'Editar Permiso' : 'Crear Permiso')
    })

    onMounted(() =>{
        store.dispatch('getTipoPermisos');
        if(id > 0) store.dispatch('getPermisosById', id);
    })

    const procesarFormulario = () => {
      if(id > 0){
        store.dispatch('updatePermisos', permiso);
      }
      else {
        store.dispatch('addPermisos', permiso.value);
      }
      
    }

    return { permiso, tipoPermisos, textDync, procesarFormulario }; 
  }
}
</script>

<style>

</style>