<template>
    <Titulo texto="Administración de permisos"/>
    <button @click="newPermiso" class="btn btn-dark my-5 btn-block">Nuevo permiso</button>
    <PermisosList />
</template>

<script>

import { onMounted, ref } from 'vue'
import { useStore } from 'vuex'
import router from '../router'

import Titulo from '../components/Titulo'
import PermisosList from '../components/PermisosList'

export default {

    components: {
        Titulo,
        PermisosList,
    },
    setup() {
        const store = useStore();
        // const { arrayData } = useFetch(`${baseUrl.value}api/permiso/`); 

        onMounted(() =>{
            store.dispatch('clearPermiso');
        })

        const newPermiso = () => {
            router.push('/permisos/0')
        }

        return { newPermiso }
    }
}
</script>

<style>

</style>