<template>
    <input type="text" class="form-control my-2" placeholder="Ingrese nombre" required v-model.trim="permiso.nombreEmpleado">
    <input type="text" class="form-control my-2" placeholder="Ingrese apellido" required v-model.trim="permiso.apellidosEmpleado">
    <!--<input type="number" class="form-control" placeholder="Ingrese Tipo" required v-model="permiso.tipoPermisoId">
    -->
    <select class="form-control mt-2" required   v-model="permiso.tipoPermisoId" id="TipoPermisoId">
      <option value=""> -TIPO PERMISO-</option>
      <option v-for="tipo of tipoPermisos" :key="tipo.id" v-bind:value="tipo.id" >
          {{tipo.descripcion}}
      </option>
    </select>

    <input type="datetime-local" min="1000-01-01" max="3000-12-31" class="form-control my-2"  required v-model="permiso.fechaPermiso">
    <button class="btn btn-dark mt-2 btn-block" type="submit" :disabled="bloquear"> Guardar </button>
    <button @click="cancelar" class="btn btn mt-2 btn-block" type="button"> Cancelar </button>


</template>

<script>
import router from '../router';
import { reactive, ref, createApp } from 'vue'

export default {
    components: {  
       
    },
    props: {
        permiso: Object,
        tipoPermisos: Object
    },
    methods:{
      cancelar(){
        router.push('/permisos');
      }
    },
    computed: {
        bloquear(){
            console.log(this.permiso);
            return  (this.permiso.nombreEmpleado.trim() === "" ||
                    this.permiso.apellidosEmpleado.trim() === "" ||
                    this.permiso.tipoPermisoId  <= 0 ||
                    this.permiso.tipoPermisoId  === "" ||
                    this.permiso.fechaPermiso.trim() === "")
        }
  }
}
</script>