<template>
    <hr class="mt-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">TipoPermiso</th>
                <th scope="col">FechaPermiso</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in permisos" :key="item.Id">
                <th scope="row">{{item.id}}</th>
                <td>{{item.nombreEmpleado}}</td>
                <td>{{item.apellidosEmpleado}}</td>
                <td>{{item.tipoPermiso?.descripcion}}</td>
                <td>{{item.fechaPermiso}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" @click="deletePermisos(item.id)">
                        Eliminar
                    </button>
                    <router-link class="btn btn-warning ml-2 btn-sm" :to="`/permisos/${item.id}`">
                        Editar
                    </router-link>
                </td>
            </tr>
        </tbody>
    </table>

</template>

<script>

import { computed, onMounted, ref } from 'vue'
import { useStore } from 'vuex'

export default {

    setup() {

        const store = useStore();

        const permisos = computed(() => {
            return store.state.permisos
        })
        const tipoPermisos = computed(() => {
            return store.state.tipoPermisos
        })

        onMounted(() =>{
            store.dispatch('getPermisos');
        })

        const deletePermisos = async(id) => {

            if(confirm("Seguro de que deseas borrar?"))
            {
                store.dispatch('deletePermisos', id);
            }
        }

        return { permisos, deletePermisos }; 
    }
}
</script>

<style>

</style>